/* shared style */
body{
    font-family: 'Open Sans' , sans-serif;
}
/* Nav related style */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 200px;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav>h3{
    font-size: 45px;
    text-shadow:1px 1px #474747;
}
nav li{
    list-style: none;
    margin-right: 51px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.website-title{
    font-weight: bolder;
    font-style: normal;
    color: #181818;
}
#rcolor{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    /* height: 64px;*/
    /* width: 150px;  */
    border: 0px;
    padding: 18px 36px 18px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
}
#white{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
/* header related */
header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    /* background-image: url('../images/developer.png'); */
}
.banner{
    padding:0 30px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hi{
    font-size: 45px;
    align-items: first baseline;
    font-weight: 600;
    color: #474747;
    margin-bottom: 20px;
}
.mary{
    font-size: 85px;
    font-weight: bold;
    align-items: first baseline;
    color: #181818;
    margin-bottom: 5px;
}
.headerpara{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}
.btn-down{
    font-size: 20px;
    background-color: #FFF8F3;
    border-radius: 5px;
    padding: 18px 36px 18px 36px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
}
.hardy{
    width: 584px;
}
.about{
    background-color: #FFF8F3;
    padding: 130px 150px;
    border-radius: 10px;
    margin: 130px 230px;
    align-items: center;
    text-align: center;
}
.about-title{
    font-size: 35px;
    margin-bottom: 30px;
    color: #181818;
}
.about-des{
    font-size: 18px;
    margin-bottom: 25px;
    color: #757575;
}
.about-section{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.what{
    text-align: center;
    margin: 0 230px;
}
.what-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-top: 15px;
    margin-bottom: 25px;
}
.what-des{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.wsection{
    display: flex;
    justify-content: space-between;
    text-align: left;
    /* flex-direction: row; */
    /* align-content: start; */
}
.what-section{
    box-shadow: 10px 10px 10px 10px #47474716;
    width: 215px;
    height: 300px;
    padding: 31px;
    background-color: #fff;
    margin: 25px;
    border-radius: 5px;
}
.what img{
    width: 44px;
    height: 44px;
    margin-bottom: 31px;
}

.resume{
    margin: 130px 230px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    align-self: center;
}

.eduex{
    display: flex;
    justify-content: space-around;
}

hr{
    width: 560px;
    color: #D1D1D1;
    height: 1px;
    margin-top: 5px;
}
.education{
    margin: 10px 5px 20px 0px;
}
footer{
    background-color: #FFF8F3;
    padding: 130px;
}
.foot{
    display: flex;
    justify-content: space-around;
}
label{
    display: block;
    margin: 12px 0px;
    font-size: 16px;
    color: #757575;
}
#name,#mail{
    padding: 18px;
    width: 481px;
    height: 30px;
    border-radius: 5px;
    border: 0;
}
textarea{
    padding: 18px;
    width: 481px;
    height: 110px;
    border: 0;
    border-radius: 5px;
    color: #757575;
    font-size: 16px
}